<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Book_web</display-name>
 
  
   <servlet>
    <servlet-name>InsertadminServlet</servlet-name>
    <servlet-class>servlet.InsertadminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertadminServlet</servlet-name>
    <url-pattern>/servlet/InsertadminServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Stu_reServlet</servlet-name>
    <servlet-class>servlet.Stu_reServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stu_reServlet</servlet-name>
    <url-pattern>/servlet/Stu_reServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>SearchbnameServlet</servlet-name>
    <servlet-class>servlet.SearchbnameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchbnameServlet</servlet-name>
    <url-pattern>/servlet/SearchbnameServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ShowBookServlet</servlet-name>
    <servlet-class>servlet.ShowBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBookServlet</servlet-name>
    <url-pattern>/servlet/ShowBookServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ImportBookServlet</servlet-name>
    <servlet-class>servlet.ImportBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportBookServlet</servlet-name>
    <url-pattern>/servlet/ImportBookServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/servlet/UploadServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteuserServlet</servlet-name>
    <servlet-class>servlet.DeleteuserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteuserServlet</servlet-name>
    <url-pattern>/servlet/DeleteuserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BlackServlet</servlet-name>
    <servlet-class>servlet.BlackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlackServlet</servlet-name>
    <url-pattern>/servlet/BlackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertuserServlet</servlet-name>
    <servlet-class>servlet.InsertuserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertuserServlet</servlet-name>
    <url-pattern>/servlet/InsertuserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateuserpwdServlet</servlet-name>
    <servlet-class>servlet.UpdateuserpwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateuserpwdServlet</servlet-name>
    <url-pattern>/servlet/UpdateuserpwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PwdChangeServlet</servlet-name>
    <servlet-class>servlet.PwdChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PwdChangeServlet</servlet-name>
    <url-pattern>/servlet/PwdChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/servlet/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImportStuServlet</servlet-name>
    <servlet-class>servlet.ImportStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportStuServlet</servlet-name>
    <url-pattern>/servlet/ImportStuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BRServlet</servlet-name>
    <servlet-class>servlet.BRServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BRServlet</servlet-name>
    <url-pattern>/servlet/BRServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/servlet/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/servlet/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/servlet/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InputServlet</servlet-name>
    <servlet-class>servlet.InputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputServlet</servlet-name>
    <url-pattern>/servlet/InputServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>